.side-panier {
        position: fixed;
        top: 0;
        right: -300px;
        width: 300px;
        height: 100%;
        background-color: #fff;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
        transition: right 0.3s ease-in-out;
        z-index: 999;
      }
      
      .side-panier.show {
        right: 0;
      }
      
      .toggle-btn {
        position: fixed;
        top: 20px;
        right: 20px;
        z-index: 1000;
      }
      
      .panier-container {
        padding: 20px;
      }
      
      .panier-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #ccc;
        margin-bottom: 10px;
        padding-bottom: 10px;
      }
      
      .panier-btn {
        width: 100%;
        margin-top: 20px;
      }
      